@page
@model TugasAsinkron1.Pages.Suppliers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Supplier.NamaSupplier" class="control-label">Nama Supplier</label>
                <input asp-for="Supplier.NamaSupplier" class="form-control" />
                <span asp-validation-for="Supplier.NamaSupplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.Alamat" class="control-label"></label>
                <input asp-for="Supplier.Alamat" class="form-control" />
                <span asp-validation-for="Supplier.Alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.Tlp" class="control-label">Nomor Telepon</label>
                <input asp-for="Supplier.Tlp" class="form-control" />
                <span asp-validation-for="Supplier.Tlp" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-primary" asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
